<div class="jumbotron top-space">
  <div class="container">

    <h2 class="text-center thin">Choose your movie </h2>

    <div class="text-center thin">


<%= form_tag("/movies/search", method: "post") do %>
<div class="form-group">
  <%= text_field_tag :word %>
  </div>
  <br><br>
    <button type="submit" class="btn btn-dark">Search</button>
      </div>
<% end %>
<div class="text-center thin">
<div class="card" style="width: 18rem;">
<% if @movies %>
  <% @movies.each do |f| %>
  <div class="card-body">
    	 <h5 class="card-title">Title : <%= f.title %></h5>
        <p class="card-text">Director : <%= f.director %></p>
        <i class="card-text">Release date : <%= f.realease_date %></i>
</div>
  <% end %>
<% end %>
</div>
</div>
